<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>

<body>
    <h1>Add new Product</h1>
    <form action="/products/add" method="post">
        <div>
            <label for="name">Product Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" name="price" id="price">
        </div>
        <div>
            <label for="description">Description</label><br>
            <textarea name="description" id="description" cols="30" rows="5"></textarea>
        </div>
        <div>
            <select name="CategoryId" id="">
                <option value="" selected disabled>-- product category --</option>
                <% category.forEach(e=> { %>
                    <option value="<%= e.id %>">
                        <%= e.name %>
                    </option>
                    <% }) %>
            </select>
        </div>
        <button type="submit" role="Submit">Add</button>
    </form>

</body>

</html>